{% paginate blog.articles by settings.pagination_limit %}
<div id="blog">
  
  <div class="span12 guts content">
    
  <!-- Begin content -->
    <div class="span7 articles">
      <div>
        <h1>{{ blog.title }}</h1>
      </div>
      {% for article in blog.articles %}
      <div class="article">
        <h1><a href="{{ article.url }}">{{ article.title }}</a> <span class="date" style="display: block;">{{ article.published_at | date: "%B %d %Y" }}{% if article.comments_enabled? %}, <span>{{ article.comments_count }} {{ article.comments_count | pluralize: "Comment", "Comments" }}</span>{% endif %}</span></h1>
        {{ article.excerpt_or_content }}
      </div>
      <hr class="divider" />
      {% endfor %}
    </div>
    
    <!-- Begin sidebar -->
    {% include 'blog_sidebar' %}
    <!-- End sidebar -->
  <!-- End content -->
  
</div>
</div>
{% include 'pagination' %}
{% endpaginate %}

